<div ng-init="movie = card" class="movieInfo noInfo" >
  <span class="icon-close close"></span>
  <div class="header">
    <h2><i class="icon-spell-check"></i> Edit file name</h2>
  </div>
  <div class="body">
    <div layout="row">
      <md-input-container flex="80">
        <label>New file name</label>
        <input ng-model="movie.newName">
      </md-input-container>
      <div class="button-container" flex="20">
        <md-button ng-click="renameFile(movie,$event)" class="md-raised md-primary"><i class="icon-checkmark"></i> OK</md-button>
      </div>
    </div>  
    
  </div>
  <div class="footer">
  </div>
  
</div>