<!doctype html>
<html ng-app="MyUSBMovieApp">
  <head>
    <title>MyUSBMovies</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="assets/css/icon-moon.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <link rel="stylesheet" href="assets/css/style.css">
  </head>

  <body layout="column">
    <div layout="row" flex>
        <md-sidenav layout="column" class="navbar md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
            <md-toolbar class="titlezone" layout="row">
              <span class="window-buttons">
                <span ng-click="closeWindow()" class="window-button window-button-close icon-close"></span>
                <span ng-click="hideWindow()" class="window-button window-button-hide icon-minus"></span>
                <span ng-click="maxWindow()" class="window-button window-button-full icon-plus"></span>
              </span>  
              <h1 class="md-toolbar-tools" layout-align-gt-sm="center"><img class="logo" src="assets/img/logoMyUSBMovies.svg" alt=""></h1>
            </md-toolbar>
            <md-subheader class="category-header"><i class="icon-folder"></i> Current movie folder</md-subheader>
            <md-list class="genre-list">
                  <md-item-content>
                    <md-button>
                        <md-tooltip>
                          Change movie directory
                        </md-tooltip>
                        {{currentFolder| limitTo:25 }}...
                        <input class="file-chooser" title="Change movie directory" type="file" webkitdirectory directory multiple onchange="angular.element(this).scope().reloadMovies(this)"/>
                    </md-button>
                  </md-item-content>
                </md-item>
          </md-list>
            <md-subheader class="category-header"><i class="icon-tag"></i> Categories</md-subheader>
            <md-progress-circular class="waitforGenre" ng-if="loadNb > 0" md-mode="indeterminate"></md-progress-circular>
            <md-list class="genre-list" ng-if="loadNb == 0">
                <md-item>
                  <md-item-content>
                    <md-button ng-click="searchText.Genre = ''" ng-class="searchText.Genre == '' ? 'active' : ''">
                      All
                    </md-button>
                  </md-item-content>
                </md-item>
                <md-item ng-repeat="genre in genreList" class="">
                  <md-item-content>
                    <md-button ng-if="genre.length > 35" ng-click="searchText.Genre = genre" ng-class="searchText.Genre == genre ? 'active' : ''">
                      {{genre | limitTo:32 }}...
                    </md-button>
                    <md-button ng-if="genre.length <= 35" ng-click="searchText.Genre = genre" ng-class="searchText.Genre == genre ? 'active' : ''">
                      {{genre}}
                    </md-button>
                  </md-item-content>
                </md-item>
          </md-list>
        </md-sidenav>
        <div layout="column" flex id="content">
            <md-toolbar class="toolbar draggable" layout="row">
                <div class="md-toolbar-tools" layout-align-gt-sm="center">
                    <md-button ng-click="order = '-Released'" ng-class="order == '-Released'? 'active' : '' " class="filterButton">
                      <md-tooltip>
                        Order movies by release date
                      </md-tooltip>
                      <i class="icon-calendar"></i> Release date
                    </md-button>
                    <div class="divider"></div>
                    <md-button ng-click="order = '-imdbRating'" ng-class="order != '-Released'? 'active' : ''" class="filterButton">
                      <md-tooltip>
                        Order movies by IMDB rate
                      </md-tooltip>
                      <i class="icon-star"></i> Popularity</md-button>
                    <span flex></span>
                    <md-input-container md-no-float>
                      <input type="text" class="search-input" ng-model="searchText.Title" placeholder="Search a movie">
                    </md-input-container>
                    <md-button class="search-button"><i class="icon-search"></i></md-button>
                </div>
            </md-toolbar>
            <md-content layout="column" flex class="md-padding" ng-view>

            </md-content>
        </div>
    </div>
    <!-- Angular Material Dependencies -->
    <script src="assets/libs/angular.min.js"></script>
    <script src="assets/libs/angular-animate.min.js"></script>
    <script src="assets/libs/angular-aria.min.js"></script>
    <script src="assets/libs/angular-material.min.js"></script>
    <script src="assets/libs/angular-morph.js"></script>
    <script src="assets/libs/angular-route.min.js"></script>
    <script src="assets/libs/roundProgress.min.js"></script>
    <script src="app/app.module.js"></script>
    <script src="app/app.routes.js"></script>
    <script src="app/components/home/homeController.js"></script>
    <!-- // <script src="app/components/home/homeControllerWeb.js"></script> -->
  </body>
</html>