* {
  box-sizing: border-box;
}

/* demo login form */
.movieInfo {
  background: #0099ef;
  width: 600px;
  height: 580px;
  color: #F0F1F0;
  border-radius: 30px;
}
.movieInfo.noInfo {
  background: #0099ef;
  width: 600px;
  height: 250px;
  color: #F0F1F0;
  border-radius: 30px;
}
.close {
  margin: 10px;
  z-index: 2000;
  font-size: 25px;
  float: right;
  cursor: pointer;
  color: #fff;

  opacity: 0.8;
}
.close:hover {
  color: #F0F1F0;
}

body, .form-control {
    font-family: 'Dosis', sans-serif;
    background: #fff;
}


h1{
  margin-bottom: 40px;
  font-size: 2.1em;
  text-align: center;
}
h3{
  font-size: 1.17em;
  margin-top: 15px;
}

.deckgrid[deckgrid]::before {
    /* Specifies that the grid should have a maximum of 4 columns. Each column will have the classes 'column' and 'column-1-4' */
    content: '4 .column.column-1-4';
    font-size: 0; /* See https://github.com/akoenig/angular-deckgrid/issues/14#issuecomment-35728861 */
    visibility: hidden;
}

.deckgrid .column {
    float: left;
}

.deckgrid .column-1-4 { width: 23%; margin: 0 14px; }
.deckgrid .column-1-4 > div { margin: 10px 0;}
.deckgrid .column-1-4 img{ width: 100%; }



/* Common style */
.cover figure {
  float: left;
  overflow: hidden;
  width: 100%;
  background: #3085a3;
  text-align: center;
  cursor: pointer;
}

.cover figure img,
.cover figure .no-cover {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
  color:#fff;
}


.cover figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.cover figure figcaption::before,
.cover figure figcaption::after {
  pointer-events: none;
}

.cover figure figcaption,
.cover figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.title-no-cover { z-index: 10; }

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.cover figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.cover figure h2 {
  word-spacing: -0.15em;
  font-weight: 300;
  z-index: 1;
}

.cover figure h2 span {
  font-weight: 800;
}

.cover figure h2,
.cover figure p {
  margin: 0;
}

.cover figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
}


/*-----------------*/
/***** Winston *****/
/*-----------------*/

figure.effect-winston {
  background: #162633;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

figure.effect-winston img,
figure.effect-winston .no-cover {
  -webkit-transition: opacity 0.45s;
  transition: opacity 0.45s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}


figure.effect-winston h2 {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0,20px,0);
  transform: translate3d(0,20px,0);
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

figure.effect-winston p {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0 1.5em 5% 0;
}

figure.effect-winston button.rounded {
  margin: 0 10px;
  color: #fff;
  font-size: 170%;
  border-radius: 30px;
}
.more-info i {
  font-size: 2em;
}

figure.effect-winston button:hover,
figure.effect-winston button:focus {
  color: #fff;
}

figure.effect-winston p button i {
  opacity: 1;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
    font-size: 1.2em;
    margin-left: 2px;
  line-height: 2.45;
}
figure.effect-winston p button,
figure.effect-winston p button.md-button.md-fab {
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s !important;
  transition: opacity 0.35s, transform 0.35s !important;
  -webkit-transform: translate3d(0,75px,0);
  transform: translate3d(0,75px,0);
  margin-left: 10px;
}
md-content { margin-bottom: 20px;}
#moviesList figure.effect-winston .md-button,
#moviesList figure.effect-winston .md-button.md-fab,
#moviesList figure.effect-winston .md-button:hover,
#moviesList figure.effect-winston .md-button.md-fab:hover 
{ background: #0099ef; }

figure.effect-winston:hover img,
figure.effect-winston:hover .no-cover {
  opacity: 0.7;
}

/*figure.effect-winston:hover h2 {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}*/

figure.effect-winston:hover figcaption::before {
  opacity: 0.3;
  -webkit-transform: rotate3d(0,0,1,20deg);
  transform: rotate3d(0,0,1,20deg);
}

/*figure.effect-winston:hover p i {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}*/

figure.effect-winston:hover p button,
figure.effect-winston:hover p button.md-button.md-fab {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

figure.effect-winston:hover p button.md-button.md-fab:nth-child(3) {
  -webkit-transition-delay: 0.05s !important;
  transition-delay: 0.05s !important;
}

figure.effect-winston:hover p button.md-button.md-fab:nth-child(2) {
  -webkit-transition-delay: 0.1s !important;
  transition-delay: 0.1s !important;
}

figure.effect-winston:hover p button.md-button.md-fab:first-child {
  -webkit-transition-delay: 0.15s !important;
  transition-delay: 0.15s !important;
}

button.rounded{
  width: 50px; height:50px; border-radius: 30px; background: #0099ef; outline: none; border: none;
}
.movieInfo{ position: relative; padding: 20px; font-size: 1.313em;}
.movieInfo .close { position:absolute; top:0; right: 0; }
.movieInfo .header,
.movieInfo .body,
.movieInfo .footer{
  background: #0099ef;
  color: #fff;
}
.movieInfo .footer{ margin-top: 30px; }
.movieInfo .footer .md-button i{ font-size: 1em; margin-left: 5px; }

.movieInfo .header {  border-bottom: 1px solid #fff; margin-top: 30px; }
.movieInfo .header h2{ font-weight: bold; transform: translate3d(0px, 0px, 0px); }
.movieInfo .header  small{  color:#fff; line-height: 2; }
.movieInfo .body,
.movieInfo .rating,
.movieInfo .stars
{  margin-top: 15px; }
.movieInfo .label { 
  background: #006DA7;
  border-radius: 15px;
  display: inline-block;
  margin-right: 5px;
  margin-top: 5px;
  padding: 0 10px;
  text-transform: none;
}
.movieInfo .plot p, .movieInfo .stars p{ font-size: 100%; text-transform: none; position: relative; padding: 0;}
.movieInfo .duration { text-align: right;}
.btn-info:not(.btn-link):not(.btn-flat){ background: #005c91; color: #fff;}

.no-cover{ display: block; width: 310px; height: 445px; background: #eee; }
.noInfo md-input-container.md-default-theme .md-input { border-color: rgba(255, 255, 255, 0.2); }
#moviesList figure.effect-winston .noInfo .md-button,
#moviesList figure.effect-winston .noInfo .md-button.md-fab,
#moviesList figure.effect-winston .noInfo .md-button:hover,
#moviesList figure.effect-winston .noInfo .md-button.md-fab:hover,
#moviesList figure.effect-winston .movieInfo .md-button,
#moviesList figure.effect-winston .movieInfo .md-button.md-fab,
#moviesList figure.effect-winston .movieInfo .md-button:hover,
#moviesList figure.effect-winston .movieInfo .md-button.md-fab:hover
{ 
  background: rgb(63, 81, 181);
  margin-left: 5px;
  margin-top: 10px;
}

.menuBtn { 
  background-color: transparent;
  border: none;
  height: 38px;
  margin: 16px 0 0 16px;
  width: 36px;
  color:#fff;
}
.text-right { text-align: right; }

md-sidenav { background: #333; }
.progress-wrapper{
    position: relative;
    margin:20px auto 0;
    font-size: 40px;
}

.progress{
    font-size: 0.6em;
    font-weight: 100;
    left: 5px;
    position: absolute;
    text-align: center;
    top: 17px;
    width: 59px;
}
.stat-picto{ line-height: 1.2; margin-top: 20px; display: inline-flex; text-transform: none;}
.stat-picto i { font-size: 2.5em; }
.text-center { text-align: center; }
.label-list{ line-height: 6; }
.list-genre{ list-style: none; padding: 0; margin-top: -5px; margin-top: 10px; }
.no-cover-title{ position: absolute; top:0; z-index: 100; color: #fff; left: 0; display: block; width: 100%; padding: 20px;  }
.close-toast{ margin-left: 20px; }
.alert{ 
  background-color: #f2dede !important;
  border-color: #ebccd1 !important;
  color: #a94442 !important;
}
.success{ 
  background-color: #dff0d8 !important;
  border-color: #d6e9c6 !important;
  color: #3c763d !important;
}
.md-sidenav-left{ background : #333; }
.md-sidenav-left .titlezone{ background:#262626; }
md-toolbar h1 {
  font-weight: normal;
  color: #FFF;
}
.toolbar{ background:#ebf0f1 !important; }
.genre-list md-item{ padding: 10px 0; }
.genre-list .md-button {
  color: #999;
  font-weight: 500;
  text-align: left;
  width: 100%;
  padding-left: 25px;
  margin:0;
}
.genre-list .md-button:hover { color: #fff; }
.category-header.md-subheader{ color: #fff; background: none; text-transform: uppercase; font-weight: bold; font-size: 100%; }
.navbar i{  margin-right: 5px;}
.toolbar .md-button.filterButton,
.toolbar .md-button.search-button{ color: #999; margin:0 10px; text-transform: none; font-weight: normal;}
md-toolbar.toolbar.md-default-theme{  color:#333;}
.divider{ border-left: 1px solid #999; width: 1px; height: 30px; }
md-input-container.md-default-theme .md-input.search-input{ margin-top: 25px; color:#999; font-size: 16px; }
.toolbar .md-button.filterButton.active { color:#0099ef; }
.genre-list .md-button.active { background: rgba(158,158,158,0.2); color: #fff;}
md-grid-list{ margin-bottom: 20px; }
.file-chooser{ margin-left: -100%; width: 500px; height: 100%; position: absolute; display: inline-block; opacity: 0; }
.file-chooser:hover{ cursor: pointer; }
.not-found{ text-align: center; padding: 20px; }
.waitforMovies{ margin: 0 auto; margin-top: 20%; }


/* Media queries */
@media screen and (max-width: 50em) {
  .content {
    padding: 0 10px;
    text-align: center;
  }
  .cover figure {
    display: inline-block;
    float: none;
    margin: 10px auto;
    width: 100%;
  }
}

