* {
  box-sizing: border-box;
}

/* demo login form */
.movieInfo {
  background: #0099ef;
  width: 600px;
  height: 500px;
  color: #F0F1F0;
  border-radius: 30px;
}
.close {
  margin: 10px;
  z-index: 2000;
  font-size: 25px;
  float: right;
  cursor: pointer;
  color: #fff;

  opacity: 0.8;
}
.close:hover {
  color: #F0F1F0;
}

body, .form-control {
    font-family: 'Dosis', sans-serif;
    background: #fff;
}


h1{
  margin-bottom: 40px;
  font-size: 2.1em;
  text-align: center;
}
h3{
  font-size: 1.17em;
  margin-top: 15px;
}

.deckgrid[deckgrid]::before {
    /* Specifies that the grid should have a maximum of 4 columns. Each column will have the classes 'column' and 'column-1-4' */
    content: '4 .column.column-1-4';
    font-size: 0; /* See https://github.com/akoenig/angular-deckgrid/issues/14#issuecomment-35728861 */
    visibility: hidden;
}

.deckgrid .column {
    float: left;
}

.deckgrid .column-1-4 { width: 23%; margin: 0 14px; }
.deckgrid .column-1-4 > div { margin: 10px 0;}
.deckgrid .column-1-4 img{ width: 100%; }



/* Common style */
.cover figure {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  width: 100%;
  height: auto;
  background: #3085a3;
  text-align: center;
  cursor: pointer;
}

.cover figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
}

.cover figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.cover figure figcaption::before,
.cover figure figcaption::after {
  pointer-events: none;
}

.cover figure figcaption,
.cover figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.cover figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.cover figure h2 {
  word-spacing: -0.15em;
  font-weight: 300;
}

.cover figure h2 span {
  font-weight: 800;
}

.cover figure h2,
.cover figure p {
  margin: 0;
}

.cover figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
}


/*-----------------*/
/***** Winston *****/
/*-----------------*/

figure.effect-winston {
  background: #162633;
  text-align: left;
}

figure.effect-winston img {
  -webkit-transition: opacity 0.45s;
  transition: opacity 0.45s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

figure.effect-winston figcaption::before {
  position: absolute;
  top: 106px;
  left: -52px;
  width: 110%;
  height: 100%;
  background: url(../img/triangle.svg) no-repeat center center;
  background-size: 100% 100%;
  content: '';
  -webkit-transition: opacity 0.45s, -webkit-transform 0.45s;
  transition: opacity 0.45s, transform 0.45s;
  -webkit-transform: rotate3d(0,0,1,45deg);
  transform: rotate3d(0,0,1,45deg);
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}

figure.effect-winston h2 {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0,20px,0);
  transform: translate3d(0,20px,0);
}

figure.effect-winston p {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0 1.5em 5% 0;
}

figure.effect-winston button {
  margin: 0 10px;
  color: #fff;
  font-size: 170%;
  border-radius: 30px;
}
.more-info i {
  font-size: 2em;
}

figure.effect-winston button:hover,
figure.effect-winston button:focus {
  color: #fff;
}

figure.effect-winston p button i {
  opacity: 1;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  margin-left: 2px;
}
figure.effect-winston p button {
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s !important;
  transition: opacity 0.35s, transform 0.35s !important;
  -webkit-transform: translate3d(0,67px,0);
  transform: translate3d(0,67px,0);
  margin-left: 2px;
}

figure.effect-winston:hover img {
  opacity: 0.6;
}

figure.effect-winston:hover h2 {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

figure.effect-winston:hover figcaption::before {
  opacity: 0.3;
  -webkit-transform: rotate3d(0,0,1,20deg);
  transform: rotate3d(0,0,1,20deg);
}

/*figure.effect-winston:hover p i {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}*/

figure.effect-winston:hover p button {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

figure.effect-winston:hover p button:nth-child(3) i {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}

figure.effect-winston:hover p button:nth-child(2) i {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

figure.effect-winston:hover p button:first-child i {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

button{
  width: 50px; height:50px; border-radius: 30px; background: #0099ef; outline: none; border: none;
}
.movieInfo{ position: relative; padding: 20px; font-size: 1.313em;}
.movieInfo .close { position:absolute; top:0; right: 0; }
.movieInfo .header,
.movieInfo .body,
.movieInfo .footer{
  background: #0099ef;
  color: #fff;
}
.movieInfo .footer{ margin-top: 30px; }

.movieInfo .header {  border-bottom: 1px solid #fff; padding-bottom: 10px; }
.movieInfo .header h2{ margin-top: 30px; font-weight: bold; }
.movieInfo .header  small{  color:#fff; line-height: 2; }
.movieInfo .body,
.movieInfo .rating,
.movieInfo .stars,
.movieInfo .plot
{  margin-top: 15px; }
.movieInfo .label { font-size: 100%; margin-left: 5px; line-height: 2;}
.movieInfo .plot p, .movieInfo .stars p{ font-size: 100%; text-transform: none; position: relative; padding: 0;}
.movieInfo .duration { text-align: right;}
.btn-info:not(.btn-link):not(.btn-flat){ background: #005c91; color: #fff;}


/* Media queries */
@media screen and (max-width: 50em) {
  .content {
    padding: 0 10px;
    text-align: center;
  }
  .cover figure {
    display: inline-block;
    float: none;
    margin: 10px auto;
    width: 100%;
  }
}

