<!-- <div deckgrid class="deckgrid" source="movieList" cardTemplate="app/components/movieCover/coverView.html?t=000"></div> -->
<md-grid-list
      md-cols-sm="1" md-cols-md="2" md-cols-gt-md="4" 
      md-row-height-gt-md="2:3" md-row-height="1:1"
      md-gutter="8px" md-gutter-gt-sm="15px" id="moviesList">
	<md-grid-tile ng-repeat="card in movieNotFound" class="cover">
		<figure class="effect-winston">
			<img src="http://placehold.it/300x445" alt="">
			<h2 class="no-cover-title">{{card.title}}</h2>
			<figcaption>
				<p>
					<md-button ng-click="hideMovie(card)" class="md-fab" aria-label="Hide this file">
						<i class="icon-eye-blocked"></i>
					</md-button>
					<md-button ng-morph-modal="configNoCover" class="md-fab" aria-label="More details">
						<i class="icon-pencil"></i>
					</md-button>
				</p>
			</figcaption>			
		</figure>
	</md-grid-tile>
	<md-grid-tile ng-repeat="card in movieList | orderBy:order | filter:searchText:strict" class="cover">
		<figure class="effect-winston">
			<img src="{{card.Poster}}" alt="{{card.Title}}">
			<figcaption>
				<p class="button-list">
					<md-button ng-click="hideMovie(card)" class="md-fab" aria-label="Hide this movie">
						<i class="icon-eye-blocked"></i>
					</md-button>
					<md-button ng-morph-modal="config" class="md-fab" aria-label="More details">
						<i class="icon-eye"></i>
					</md-button>
				</p>
			</figcaption>			
		</figure>
	</md-grid-tile>

</md-grid-list>
